* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #ffebee, #fce4ec);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTAINER */
.emergency-container {
    width: 100%;
    padding: 20px;
}

/* CARD */
.emergency-card {
    max-width: 460px;
    margin: auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    border-top: 6px solid #d32f2f;
    text-align: center;
}

/* TITLE */
.emergency-card h2 {
    color: #b71c1c;
    margin-bottom: 25px;
}

.emergency-card h2 i {
    margin-right: 8px;
}

/* INFO BOX */
.info-box {
    text-align: left;
    margin-bottom: 25px;
}

.info-box p {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    margin-bottom: 12px;
    background: #fff5f5;
    border-radius: 10px;
    font-size: 15px;
}

.info-box i {
    color: #d32f2f;
    min-width: 22px;
}

.info-box span {
    margin-left: auto;
    font-weight: 600;
}

/* NO DATA */
.no-data {
    color: #888;
    margin-bottom: 25px;
}

/* BUTTON */
.btn {
    display: inline-block;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: note;
    cursor: pointer;
    transition: 0.3s;
}

.back {
    background: #d32f2f;
    color: #fff;
}

.back:hover {
    background: #b71c1c;
    transform: translateY(-3px);
}

/* ANIMATION */
.animate {
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
